* {
  margin: 0;
  padding: 0;
}

.body {
  display: grid;
  grid-template-areas:
    "header header header"
    "section section section2"
    "pages pages section2"
    "iz otro otro"
    "iz otro2 otro2"
    "footer footer footer";

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cont {
  grid-area: header;
  background-image: url(img/imagen_banner.jpg);
  background-size: cover;
  background-position: center;
}
.section {
  grid-area: section;

  height: 700px;
  background-image: url(img/cafe.webp);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Crea 3 columnas de igual ancho */

  gap: 20px;
}

.section3_pages {
  grid-area: pages;
  background-color: aqua;
  height: 700px;
  background-image: url(img/paisaje.jpg);
  background-size: cover;
  background-position: center;
}
.section2 {
  grid-area: section2;
  background-image: url(img/descripcion.jpg);
  background-size: cover;
  background-position: center;
}
.footer {
  grid-area: footer;
  background-color: coral;
  height: 200px;
}
.fraseIz {
  grid-area: iz;
  background-image: url(img/iz.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.otro {
  grid-area: otro;
  background-image: url(img/atardecer.webp);

  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Crea 3 columnas de igual ancho */

  gap: 20px;
}
.otro2 {
  grid-area: otro2;
  height: 600px;
  background-image: url(img/ciudad.jpg);
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header nav ul li {
  display: inline-block;
  padding: 20px;
  transition: all 0.7s;
  font-size: 20px;
}
.header nav ul li:hover {
  transform: scale(1, 2);
}
.header a {
  text-decoration: none;
  color: white;
  transition: all 0.7s;
}
.banner {
  height: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h3 {
  font-size: 50px;
  border-radius: 20px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  padding: 20px;
  transition: all 0.7s;
}
.banner h3:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.4), inset 0 0 30px rgba(0, 0, 0, 0.3),
    inset 0 0 40px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.card {
  position: relative;
  background-image: url(img/pagina.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 20px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
/* carta */
.precios {
  background-image: url(img/fondoPrecios.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.precios h4 {
  font-size: 40px;
  color: white;
}
.precios p {
  margin-top: 40px;
  font-size: 30px;
  color: white;
}
.precios ul li {
  margin-top: 40px;
  font-size: 30px;
  color: white;
}
.precios h3 {
  font-size: 40px;
  margin-top: 20px;
  color: white;
}
.precios button {
  margin-top: 20px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px #10070780;
  background-color: cornflowerblue;
}
.precios button a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 600px) {
  .body {
    display: grid;
    grid-template-areas:
      "header header header"
      "section section section"
      "section2 section2 section2"
      "pages pages pages"
      "otro otro otro"
      "iz iz iz"
      "otro2 otro2 otro2"
      "footer footer footer";

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .section {
    grid-template-columns: 1fr 1fr; /* Crea 3 columnas de igual ancho */

    gap: 20px;
  }
  .section2 {
    height: 200px;
  }
  .fraseIz {
    height: 200px;
  }
  .otro {
    grid-template-columns: 1fr;
  }
}
